# Gmail configuration
GMAIL_USER=hieu.thanhoangminh.nina@gmail.com
GMAIL_APP_PASSWORD=tmkt wdgz npvi meoz
TARGET_EMAIL=hieubmt0@email@gmail.com


# Whisper model: tiny | base | small | medium | large-v3
WHISPER_MODEL=small

# Recording
RECORD_SECONDS=5
SAMPLE_RATE=16000
